
body,html{
  margin:0;
  padding: 0
}
*{
  
  font-size: 16px;
  box-sizing: content-box;

}
/* body{
  background-color: rgba(0, 0, 0, 0.89);
} */
main{

  color:gray;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: rgb(235, 235, 235); */
  background-color: #24283b;
}
header{
  /* background-color: #f5f5f5; */
  /* border-bottom: 1px solid #e5e5e5; */
  background-image : url("../img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom:50px;
  border: 0;
  width: 100vw;
  border: none;
  border-style: none;
}

h1{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
a:hover{
  text-decoration: none;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 500px;
  margin: 0 auto;
  top: 100px;
}
.banner{
  width: 100vw;
  height: 400px;
}
/* .header__nav{
  padding: 0 20px;
  right: 20px;
  margin-top: 0;
  /* position: absolute;
  top: 20px;
  width: 500px;
} */
.header__nav ul li{
  /* display: flex;
  justify-content: space-between;
  align-items: center;  */
  list-style: none;
  display: inline;
  margin: 0 20px;
}
.header__title__logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-top: calc();
}
.about p{
  padding: 100px;
  width: 500px;
  font-size: 1.2em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 50px;
}
.about{
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.profile{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-top: 100px;
}
.technologies__list__item i{
  font-size: 50px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.technologies__list__item:hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  z-index: 2;
}
.technologies__list{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  margin: 0 auto;
  margin-bottom: 100px;
}

h2{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
p{
  font-weight: normal;
}
.projects__list__item{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.projects__list__item .info{
  width: 100%;
  height: 100%;
  background-color: blue;
}
.projects__list__item{
  margin-bottom: 50px;
}
.project1{

  width: 600px;
  height: 100%;
  cursor: pointer;
  left: 0;
}
.project2{
  width: 100%;
}
.bplQwv {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
}
.bplQwv:hover {
  color: var(--light-slate);
}
.jruSna li a img {
  transition: 0.5s;
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.jruSna li {
  display: inline;
}

.jruSna li a img:hover {
 transform: translateY(-5px);
 z-index: 2;
 -webkit-transform: translateY(-5px);
 -moz-transform: translateY(-5px);
 -ms-transform: translateY(-5px);
 -o-transform: translateY(-5px);
}
.jruSna ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.jruSna:after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin-left: 10px;
  background-color: gray;
}
.certificates__list{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0 auto;
}
.certificates__list__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: var(--left);
  width: var(--width);
  transition: left 1s, width 1s;
}
/* .certificates__list__item img{
  width: 400px;
  height: 400px;
} */
.certificates button{
  background-color: var(--light-slate);
  color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 14px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.certificates button:hover{
  background-color: #333a58;
}
.certificates{
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.certificates__list__item img{
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: all .3s ease;
}
.certificates__list__item img::hover{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  z-index: 2;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  color: darkgray;
}
a{
  color:aqua;
}
footer p, footer span{
  margin-bottom:5px;
  letter-spacing: 3px;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

/* animate new box */
.new-box {
	animation: append-animate .3s linear;
}
@media only screen and (max-width: 800px){
  .about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    width: 414px;
  }
  section{
    width: 300px;
  }
  .side__StyleSideElement-gHFCsN .bplQwv{
    display:none;
  }
  #para{
    width: 200px;
    overflow: hidden;
  }
}