.top{
  display: flex;
  justify-content: center;

}
.portrait img{
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  max-width: 400px;
  max-height: 400px;
  margin: 5px;
  float: left;
  margin-right: 15px;
}
body{
  background-color: #f2f2f2;

}